* {
  box-sizing: border-box;
}

:root {
  --backgroundColour: white;
  --journal: rgb(238, 238, 238);
  /* --postArea: rgb(196, 84, 84);
  --newPostForm: rgb(238, 238, 238); */
}

header {
  grid-area: head;
}
main {
  grid-area: main;
}
footer {
  grid-area: foot;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 10vh;
  grid-template-areas:
    "head"
    "main"
    "foot";
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColour);
}

#homeButton:hover {
  cursor: pointer;
}

#postArea {
  background-color: var(--postArea);
  margin: 50px;
  border: 2px solid grey;
  border-radius: 25px;
  text-align: center;
  color: black;
}

#postInteraction {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  border: 2px solid grey;
}

#addCommentButton {
  width: 12%;
  margin: auto 0px;
}

.new-post {
  margin: 10px;
}

.new-post-form {
  display: block;
  background-color: var(--newPostForm);
  margin: 50px;
  border: 2px solid grey;
  border-radius: 25px;
  color: black;
}

input {
  height: 20px;
  width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 50 auto;
  padding: 5px;
  text-align: center;
}

.postButtons {
  margin: 10px 30%;
}

#submitButton {
  width: 40%;
  position: relative;
}
button {
  width: 40%;
  position: relative;
}

.ql-snow {
  width: 50%;
  margin: 20px auto 0 auto;
  background-color: white;
}

#editor {
  margin: auto;
  height: 100px;
}

header {
  text-align: center;
}

.bottom {
  display: flex;
}

.comment-count {
  padding-left: 10px;
}

pre {
  padding: 10px !important;
  padding-left: 20px !important;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 3px;
}

#journal {
  height: auto;
  margin: 50px;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: var(--journal);
}

#interaction-bar {
  display: flex;
  justify-content: space-around;
  margin: 0 50px 50px 50px;
  border: 2px solid grey;
}

#comments-container {
  margin: 0px 50px;
  height: auto;
}

#comments-container div {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid grey;
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 50px;
  text-align: left;
}

#submitFormButton {
  width: 10vw;
  margin: 0 auto;
}
