* {
  box-sizing: border-box;
}

:root {
  --backgroundColour: rgb(236, 240, 241);
  --textColor: grey;
  --journal: rgb(238, 238, 238);
  --border: grey;
  --header: rgb(45, 190, 184);
  --red: #e85a4f;
  --peach: #e98074;
  --dark-grey: #8e8d8a;
  --beige: #d8c3a5;
  --light-grey: #eae7dc;
  --border: grey;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
}
footer {
  grid-area: foot;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 1fr 10vh;
  grid-template-areas:
    "head"
    "main"
    "foot";
    font-family: 'Ubuntu', sans-serif;
  background-color: var(--backgroundColour);
}

#homeButton:hover,
#homeButtonNav:hover {
  cursor: pointer;
}
#homeButtonNav:hover {
  color: grey;
}

header {
  background-color: var(--header);
  text-align: center;
  color: white;
}
#navBar {
  margin: 10px 50px;
  border-radius: 5px;
  background-color: rgb(225, 229, 235);
  padding: 5px;
  display: flex;
}

.fa-home {
  margin-left: 10px;
}
#navBar p {
  margin: 0px 20px;
}

#journalContainer {
  height: auto;
  margin: 50px;
  border: 2px solid var(--border);
  background-color: white;
  border-radius: 15px;
}
#journalTitle {
  margin: 20px 30px;
  color: rgb(236, 117, 94);
}

#journal {
  height: auto;
  margin: 0px 30px;
  padding: 0;
}

#journal img {
  display: block;
  max-height: 250px;
  margin: 10px auto;
  text-align: center;
}

#interaction-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px 20px 30px;
}

#num-comments {
  padding-left: 10vw;
}

.emojis {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.emojis i {
  font-size: 20px;
  margin-right: 5px;
}

.emojis i:hover {
  cursor: pointer;
  color: blue;
}

.comments {
  margin: 0px 50px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  border: 2px solid var(--border);
}
#comments-container {
  margin: 10px 30px 0px 30px;
}

#comments-container div {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--border);
}

#comment-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 30px 30px;
  text-align: left;
}

#submitFormButton {
  width: 10vw;
  margin: 0 auto;
}

.emojis {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.emojis i {
  font-size: 20px;
  margin-right: 5px;
}

.emojis i:hover {
  cursor: pointer;
  color: var(--red);
}

pre{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-left: 20px !important;
  border-radius: 3px;
}
