* {
  box-sizing: border-box;
}

:root {
  --backgroundColour: white;
  --textColor: black;
  --border: grey;
  --newPostBar: rgb(175, 175, 175);
  --newPostForm: rgb(238, 238, 238);
  --journalContainer: rgb(238, 238, 238);
  --journalContainerHover: #3e8e41;
}

header {
  grid-area: head;
}
main {
  grid-area: main;
}
footer {
  grid-area: foot;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 10vh;
  grid-template-areas:
    "head"
    "main"
    "foot";
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColour);
  color: var(--textColor);
}
main {
  margin-bottom: 20px;
}

.new-post-bar {
  background-color: var(--newPostBar);
  margin: 50px;
  border: 2px solid var(--border);
  border-radius: 15px;
  text-align: center;
  color: white;
}

#newPostButton:hover {
  cursor: pointer;
}

.new-post {
  margin: 10px;
}

.new-post-form {
  display: block;
  background-color: var(--newPostForm);
  margin: 50px;
  border: 2px solid var(--border);
  border-radius: 15px;
  color: var(--textColor);
}

input {
  height: 20px;
  width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 50 auto;
  padding: 5px;
  text-align: center;
}

.postButtons {
  margin: 10px 20px 20px 20px;
}

#submitButton {
  width: 30%;
  position: relative;
}

button {
  width: 30%;
  position: relative;
}

.ql-snow {
  width: 70%;
  margin: 20px auto 0 auto;
  background-color: white;
}

#editor {
  margin: auto;
  height: 200px;
}

#gif-form {
  margin: 10px 50px;
}
#gif-search {
  width: 30vw;
}

#gif-button {
  width: 10vw;
}

img {
  max-height: 250px;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#postInteractionBar {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

.journalContainer {
  display: block;
  background-color: var(--journalContainer);
  margin: 0px 50px;
  border: 1px solid var(--border);
  border-radius: 0px;
  color: var(--textColor);
  transition: 0.3s;
}
.journalContainer:hover {
  background-color: var(--journalContainerHover);
  color: white;
}

.journal-title {
  margin-left: 30px;
  margin-bottom: 5px;
}

.journal-title:hover {
  cursor: pointer;
}

.emojis {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.emojis i {
  font-size: 20px;
  margin-right: 5px;
}
