* {
  box-sizing: border-box;
}

:root {
  --backgroundColour: rgb(236, 240, 241);
  --textColor: grey;
  --border: grey;
  --header: rgb(45, 190, 184);
  --newPostBar: rgb(175, 175, 175);
  --newPostForm: rgb(238, 238, 238);
  --journalContainer: white;
  --journalContainerHover: rgb(238, 238, 238);
  --red: #e85a4f;
  --peach: #e98074;
  --dark-grey: #8e8d8a;
  --beige: #d8c3a5;
  --light-grey: #eae7dc;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
}
footer {
  grid-area: foot;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 10vh;
  grid-template-areas:
    "head"
    "main"
    "foot";
  font-family: Helvetica, monospace;
  background-color: var(--backgroundColour);
  color: var(--textColor);
}
header {
  text-align: center;
  background-color: var(--header);
  color: white;
}
h1 span {
  color: #e85a4f;
}

main {
  margin-bottom: 20px;
}

#navBar {
  margin: 10px 50px;
  border-radius: 5px;
  background-color: rgb(225, 229, 235);
  padding: 5px;
  display: flex;
}

.fa-home {
  margin-left: 10px;
}
#navBar p {
  margin: 0px 20px;
}

.new-post-bar {
  background-color: var(--newPostBar);
  margin: 30px 50px;
  width: 15vh;
  border: 2px solid var(--border);
  border-radius: 15px;
  color: white;
}
.new-post {
  display: flex;
  justify-content: space-evenly;
  margin: -5px 5px;
}

#newPostButton {
  margin: auto auto auto 10px;
}
#newPostButton:hover {
  cursor: pointer;
}

.new-post-form {
  display: block;
  background-color: var(--newPostForm);
  margin: 50px;
  border: 2px solid var(--border);
  border-radius: 15px;
  color: var(--textColor);
}

input {
  height: 20px;
  width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 50 auto;
  padding: 5px;
  text-align: center;
}

.postButtons {
  margin: 10px 20px 20px 20px;
}

#submitButton {
  width: 30%;
  position: relative;
}

button {
  width: 30%;
  position: relative;
}

.ql-snow {
  width: 70%;
  margin: 20px auto 0 auto;
  background-color: white;
}

#editor {
  margin: auto;
  height: 200px;
}

#gif-form {
  margin: 10px 50px;
}
#gif-search {
  width: 30vw;
}

#gif-button {
  width: 10vw;
}

img {
  max-height: 250px;
}

a {
  text-decoration: none;
  color: black;
}

#postInteractionBar {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

#journals h2 {
  font-size: 1.3em;
  margin: 10px 30px 0px 30px;
  color: rgb(236, 117, 94);
}
.journalContainer {
  display: block;
  background-color: var(--journalContainer);
  margin: 0px 50px;
  border: 1px solid var(--border);
  border-radius: 0px;
  color: var(--textColor);
  transition: 0.3s;
}

.journalContainer:hover {
  /*background-color: var(--peach);*/
  background-color: var(--journalContainerHover);
  /* color: white; */
}

.journal-title {
  margin-left: 30px;
  margin-bottom: 5px;
}

.journal-title:hover {
  cursor: pointer;
}

#threads {
  margin: 0px 50px;
  background-color: rgb(38, 188, 181);
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#threads h2 {
  margin: 0px 30px;
  padding: 5px 0px;
}

.emojis {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: auto 0px;
}

.emojis i {
  font-size: 20px;
  margin-right: 5px;
}
